<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <title> {% block title %}Home{% endblock %}</title>
</head>
<body>
  <header>
    <nav class="top-nav">
        <a href="/sign-up">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="/home.html">home.html</a>
    </nav>
    <h1>To-Do List Website</h1>
  </header>

  <footer>
    <nav class="bottom-nav">
      <a href="#">Privacy Policy</a>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </nav>
  </footer>
  {% block content %}{% endblock %}
</body>
</html>