<!DOCTYPE html>
<html>
<head>
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='otp.css') }}">
</head>
<body>
    <h1>OTP Verification</h1>
    
    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    <ul>
        {% for message, category in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endwith %}
    
    <form method="post">
        <input type="number" name="otp" placeholder="Enter OTP" pattern="[0-9]*">
        <button type="submit">Verify</button>
    </form>
</body>
</html>
